<!-- <div *ngFor="let a of size">
<button class="btn" >Test</button>
</div> -->
<!-- <div *ngFor="let n of numberOfButtons">
    <button>{{n}}</button>
</div> -->


<!-- <button id="editJobButton" type="button" class="btn" (click)="openModal(jobInfoContent, job, $event)"> <i id="editJobButton"
    class="material-icons">
    edit
  </i>Edit </button>
<button type="button" class="btn" (click)=" setJobInactive(job.jobId)"> <i class="material-icons">
    subdirectory_arrow_right
  </i> Un-Post </button> -->