<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>User Maintenance</title>
</head>

<body>
    <h1 class="titleFont">User Maintenance</h1>

    <div class="container-fluid" align="center">

        <table class="table table-hover table-striped">
            <thead class="thead row">
                    <th class="col-1">ID</th>
                    <th class="col-1">Name</th>
                    <th class="col-1">Email</th>
                    <th class="col-1">Password</th>
                    <th class="col-1">Role</th>
                    <th class="col-1">Company</th>
                    <th class="col-1">Created By</th>
                    <th class="col-1">Created Date</th>
                    <th class="col-1">Modified By</th>
                    <th class="col-1">Modified Date</th>
                    <th class="col-1">Active</th>
                    <th></th>
            </thead>
            <tbody>
                <tr class="row" *ngFor='let user of users'>
                  <td class="col">{{user.id}}</td>
                  <td class="col">{{user.firstName}} {{user.lastName}}</td>
                  <td class="col">{{user.email}}</td>
                  <td class="col">{{user.password}}</td>
                  <td class="col">{{user.roleId}}</td>
                  <td class="col">{{user.companyId}}</td>
                  <td class="col">{{user.createdBy}}</td>
                  <td class="col">{{user.createdDate | date:format}}</td>
                  <td class="col">{{user.modifiedBy}}</td>
                  <td class="col">{{user.modifiedDate | date:format}}</td>
                  <td class="col">{{user.active}}</td>
                  <td class="col" style="text-align: right;padding-right: 30px;">
                      <button type="button" class="btn btn-outline-info"
                      (click)="goToProfile(employee.id)">Edit</button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>