<!doctype html>
<html lang="en">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
  

  <div class="container">

    
      <h3>C.4 Applications to manage: </h3>

      <nav aria-label="breadcrumb" style="width: 20%">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">List</li>
          </ol>
        </nav>



    <label for="sortBy"><strong> Search: </strong></label><br>
    <div class="row " style="height:3em;">

      <div class="col-sm-6">
        <input [(ngModel)]='searchBarInput' type="search" id="searchBarI" class="form-control " placeholder="Start Typing..." style="width:110%;">
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn" (click)="universalSearch()" style=" margin-left: 50px;">
          <i class="material-icons">search</i> Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="text-align: end">
        <p *ngIf="totalApplications === undefined || totalApplications === 0"> Showing 0 of 0 </p>
        <p *ngIf="!(totalApplications === undefined || totalApplications === 0) && (page != paginatorSize)">Showing {{pageSize
          * page}} of {{totalApplications}}</p>
        <p *ngIf="(page === paginatorSize ) && (totalApplications != undefined || totalApplications != 0)">Showing {{totalApplications}}
          of {{totalApplications}}</p>
      </div>
    </div>



    

    <div class="row">

    <div>
        <table table matSort (matSortChange)="sortData($event)" id="matTable" class="table table-hover table-striped">
            <thead>
              <th mat-sort-header="ID" scope="col">ApplicationID</th>
              <th mat-sort-header="Name" scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th mat-sort-header="Job" scope="col">Job Applied</th>
              <th mat-sort-header="Status" scope="col">Application Status</th>
              <th mat-sort-header="Pending" scope="col"> Actions </th>
              <th></th>
      
            </thead>
            <tbody *ngIf="sortedData === undefined">
              No applications to show
            </tbody>
            <tbody>
              <tr *ngIf="!(sortedData === undefined)">
                <tr *ngFor="let application of sortedData">
                  <td> {{application.applicationId}} </td>
                  <td> {{application.applicantFirstName}} {{application.applicantLastName}} </td>
                  <td> {{application.applicantEmail}} </td>
                  <td> {{application.applicantPhone}} </td>
                  <td> {{application.jobApplied}} </td>
                  <td> {{application.applicationStatus }}</td>
                  <td> {{application.numberOfActions}}</td>
                  <td style="text-align: right;padding-right: 30px;">
                    <button  class="btn" (click)="goToApplicationDetails(application)" ><i class="material-icons">
                        notes
                      </i> Details </button>
                  </td>
                </tr>
            </tbody>
          </table>
    </div>

  </div>


   

    <ngb-pagination id="paginator" [collectionSize]="paginatorCollectionSize" [(page)]="page" [maxSize]="paginatorSize" [rotate]="true"
      [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
    </ngb-pagination>


  </div>
</body>

</html>