<!doctype html>
<html lang="en">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Maintenance</title>
</head>

<body>
    <h1 class="titleFont">C4</h1>

    <div class="container" >
      <div class="row">
          <div class="col-sm-9">
        <table class="table table-hover table-striped">
            <thead>
                    <th >ID</th>
                    <th >Name</th>
                    <th >Email</th>
                    <th >Phone Number</th>
                    <th >Job Applied</th>
                    <th >Application Status</th>
                    <th >Next Action</th>
                    <th ></th>          
            </thead>
            <tbody>
                <tr  *ngFor='let application of applications'>
                <td> {{application.aplicantId}} </td>
                <td> {{application.aplicantFirstName}} {{application.aplicantLastName}} </td>
                <td> {{application.applicantPhone}} </td>
                <td> {{application.aplicantEmail}} </td>
                <td> {{application.jobApplied}} </td>
                <td>  {{application.applicationStatus }}</td>
                <td> {{application.applicationAction}}</td>
                  <td  style="text-align: right;padding-right: 30px;">
                      <button type="button" class="btn btn-outline-info"
                      ><i class="material-icons">
                            view_headline
                            </i>View </button>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
            <div style="margin-top: 30%; margin-left:30%;">

                    <div class=" bg-white" >
                        <h3>Pending Tasks</h3>
                        <form [formGroup]="pendingTasks">
                            <input type="checkbox" name="vehicle" value="Bike"> Call Pooh Bear<br>
                            <input type="checkbox" name="vehicle" value="Car"> Interview Christopher Robin
                      </form>
                    </div>
                </div>
     </div>
      </div>
    </div>
</body>

</html>