<div>

<div class="col-md-12" style="text-align: end">
  <p *ngIf="totalJobs === undefined || totalJobs === 0"> Showing 0 of 0 </p>
  <p *ngIf="!(totalJobs === undefined || totalJobs === 0) && !(pageNumber == paginatorSize)">Showing {{pageSize * pageNumber}}
    of {{totalJobs}}</p>
  <p *ngIf="pageNumber == paginatorSize  && (totalJobs != undefined || totalJobs != 0)">Showing {{totalJobs}} of {{totalJobs}}</p>
</div>

<div>
  <ng-content></ng-content>
</div>

<!-- <table matSort (matSortChange)="sortData($event)" class="table table-hover table-striped">
  <thead>
    <th mat-sort-header="jobName">Job Title</th>
    <th mat-sort-header="company">Company</th>
    <th mat-sort-header="location">Location</th>
    <th mat-sort-header="jobCategory">Category</th>
    <th mat-sort-header="jobType">Type</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let job of sortedData">
      <td> {{job.jobName}} </td>
      <td> {{job.company}}</td>
      <td> {{job.city}}, {{job.country}} </td>
      <td> {{job.jobCategory}} </td>
      <td>{{job.jobType}}</td>
      <td>
          <maint-btn-group>
              <ng-content></ng-content>
          </maint-btn-group>
      </td>
      
    </tr>
  </tbody>
</table> -->
<hr>
<ngb-pagination id="paginator" [collectionSize]="collectionSize" [(page)]="pageNumber" [maxSize]="paginatorSize" [rotate]="true"
  [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
</ngb-pagination>

</div>