<div>
<div>
    <h3>{{title}}</h3>
    <ng-content></ng-content>
</div>
<div>
    <ng-content select="addBtn"></ng-content>
</div>




  <!-- <ng-content></ng-content> -->

<div class="col-md-12" style="text-align: end">
  <p *ngIf="totalJobs === undefined || totalJobs === 0"> Showing 0 of 0 </p>
  <p *ngIf="!(totalJobs === undefined || totalJobs === 0) && !(pageNumber == paginatorSize)">Showing {{pageSize * pageNumber}}
    of {{totalJobs}}</p>
  <p *ngIf="pageNumber == paginatorSize  && (totalJobs != undefined || totalJobs != 0)">Showing {{totalJobs}} of {{totalJobs}}</p>
</div>

<table matSort (matSortChange)="sortData($event)" class="table table-hover table-striped">
  <thead>
    <th mat-sort-header="jobName">Job Title</th>
    <th mat-sort-header="company">Company</th>
    <th mat-sort-header="location">Location</th>
    <th mat-sort-header="jobCategory">Category</th>
    <th mat-sort-header="jobType">Type</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let job of sortedData">
      <td> {{job.jobName}} </td>
      <td> {{job.company}}</td>
      <td> {{job.city}}, {{job.country}} </td>
      <td> {{job.jobCategory}} </td>
      <td>{{job.jobType}}</td>
      <td>
          <!-- <button id="editJobButton" type="button" class="btn" (click)="openModal(jobInfoContent, job, $event)"> <i
            id="editJobButton" class="material-icons">
            edit
          </i>Edit 
        </button> -->
        <ng-content></ng-content>
        <button *ngIf="title ==='Available Jobs' "type="button" class="btn" (click)=" setJobInactive(job.jobId)"> <i class="material-icons">
            subdirectory_arrow_right
          </i> Un-Post
         </button>
         <button *ngIf="title === 'Past Jobs'" type="button" class="btn" (click)="setJobActive(job.jobId)"> <i class="material-icons">
            subdirectory_arrow_left
          </i> Post
         </button>
         <button *ngIf="title === 'Drafts'" type="button" class="btn" (click)="deleteDraft(draft.jobId)"> <i class="material-icons">
            delete
          </i> Delete
        </button>
      </td>
      
    </tr>
  </tbody>
</table>
<hr>
<ngb-pagination id="paginator" [collectionSize]="collectionSize" [(page)]="pageNumber" [maxSize]="paginatorSize" [rotate]="true"
  [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
</ngb-pagination>

</div>