<!--This page allows HR employee to control what jobs are available to be applied for. (Jobs shown in A2-->
<!DOCTYPE html>
<html>

<head>

  <ng-template #addJobContent let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-add" ([ngModel])="modalTitle">Add Job</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="closeX">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <form [formGroup]="newJobForm" autocomplete="off" (ngSubmit)="c('Save click')">
          <div class="row smallrow">
            <div class="form-group col-sm-6">
              <label for="jobName"> <strong>Job Title</strong></label>
              <input formControlName="jobName" type="text" class="form-control" id="name">
            </div>
            <div class="form-group col-sm-6">
              <label for="jobCompany"> <strong>Company</strong></label>
              <input formControlName="jobCompany" type="text" class="form-control" id="company" disabled [value]="currentCompany.name">
            </div>
          </div>
          <div class="row smallrow">
            <div class="form-group col-sm-6">
              <label for="jobCategory"><strong>Category</strong>
                <button *ngIf="!addCatTrue" class="addButton" type="button" (click)="addItem($event)" ><i class="material-icons" id="addCatBtn">add</i></button>
              </label>
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button *ngIf="addCatTrue" class="addButton" type="button" (click)="cancelAddItem($event)" ><i id="cancelAddCatBtn" class="material-icons">undo</i></button>
                  </div>
                  <select *ngIf="!addCatTrue" formControlName="jobCategory" id="category" class="selectpicker form-control" (change)="selectJobCatChangeHandler($event)">
                      <option value="null" disabled="true" [selected]="true">- Select Category -</option>
                      <option *ngFor=" let selectedCategory of categories">{{selectedCategory.name}}</option>
                  </select>
                  <input  *ngIf="addCatTrue" formControlName="addCategoryInput" type="text" class="form-control" id="company" [value]="">
                  <button *ngIf="addCatTrue" class="addButton" type="button" (click)="addCategory()"><i class="material-icons">check</i></button>
                </div>
            </div>

            <div class="form-group col-sm-6">
              <label for="jobType"><strong>Type</strong>
                <button *ngIf="!addTypeTrue" class="addButton" type="button" (click)="addItem($event)" ><i id="addTypeBtn" class="material-icons">add</i></button>
              </label>

              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button *ngIf="addTypeTrue" class="addButton" type="button" (click)="cancelAddItem($event)"><i id="cancelAddTypeBtn" class="material-icons">undo</i></button>
                  </div>
                  <select *ngIf="!addTypeTrue"formControlName="jobType" id="type" class="form-control" (change)="selectJobTypeChangeHandler($event)" aria-placeholder="- Select Type -">
                      <option value="null" disabled="true" [selected]="true">- Select Type -</option>
                      <option *ngFor=" let selectedType of types">{{selectedType.name}}</option>
                  </select>
                  <input  *ngIf="addTypeTrue" formControlName="addTypeInput" type="text" class="form-control" id="company" [value]="">
                  <button *ngIf="addTypeTrue" class="addButton" type="button" (click)="addJobType()"><i class="material-icons">check</i></button>
                </div>

            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="jobDescription"><strong>Description</strong></label>
              <textarea class="form-control" formControlName="jobDescription" name="description" rows="4" cols="10" style="resize: none;"> </textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="createDraft(newJobForm.value)" id="draft" value="draft" type="submit" class="btn btn-outline-secondary"><i
                class="material-icons">
                save_alt
              </i>Save as Draft
            </button>

            <button (click)="createJob(newJobForm.value)" id="save" value="save" type="submit" class="btn "[disabled]="!newJobForm.valid" ><i class="material-icons">
                subdirectory_arrow_left</i>Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>


  <ng-template #editJobContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Job update</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true" class="closeX">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="jobEditForm" autocomplete="off" style="margin: 20px" (ngSubmit)="updateJob(jobEditForm.value);c('Save click')">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name"> <strong>Job Title</strong></label>
            <input formControlName="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group col-md-6">
            <label for="category"><strong>Category</strong>
              <button class="addButton"  (click)="addItem($event)"><i id="addCatBtn" class="material-icons">add</i></button>
            </label>
            <select formControlName="category" id="category" class="form-control">
              <option *ngFor=" let selectedCategory of categories" [ngValue]="selectedCategory.name">{{selectedCategory.name}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="type"><strong>Type</strong>
              <button class="addButton"><i class="material-icons">add</i></button>
            </label>
            <select formControlName="type" id="type" class="form-control">
              <option *ngFor=" let selectedType of types" [ngValue]="selectedType.name">{{selectedType.name}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="status"><strong>Status</strong>
              <button class="addButton"><i class="material-icons">add</i></button>
            </label>
            <select formControlName="status" id="status" class="form-control">
              <option *ngFor=" let selectedStatus of allStatus" [ngValue]="selectedStatus.status">{{selectedStatus.status}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="description"><strong>Description</strong></label>
            <textarea class="form-control" formControlName="description" name="description" rows="7" cols="45" style="margin: 10px; resize: none; margin-right:10%;"> </textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn "><i class="material-icons">
              save_alt</i>Save
          </button>
        </div>
      </form>
    </div>
  </ng-template>

  <ng-template #contentDraft let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-draft"> Edit Draft</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"class="closeX">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="draftEditForm" autocomplete="off" style="margin: 20px" (ngSubmit)="c('Save click')">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="draftName"> <strong>Job Title</strong></label>
            <input formControlName="draftName" type="text" class="form-control" id="draftName">
          </div>
          <div class="form-group col-md-6">
            <label for="draftCategory"><strong>Category</strong>
              <button class="addButton"><i class="material-icons">add</i></button>
            </label>
            <select formControlName="draftCategory" id="draftCategory" class="form-control">
              <option *ngFor=" let selectedCategory of categories" [ngValue]="selectedCategory.name">{{selectedCategory.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="draftDescription"><strong>Description</strong></label>
            <textarea class="form-control" formControlName="draftDescription" name="draftDescription" rows="7" cols="45" style="margin: 10px; resize: none; margin-right:10%;"> </textarea>
          </div>
          <div class="form-group col-md-6">
            <label for="draftType"><strong>Type</strong>
              <button class="addButton"><i class="material-icons">add</i></button>
            </label>
            <select formControlName="draftType" id="draftType" class="form-control">
              <option *ngFor=" let selectedType of types" [ngValue]="selectedType.name">{{selectedType.name}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="deleteDraft()" type="submit" class="btn btn-outline-danger "><i class="material-icons">
              delete </i>Delete
          </button>
          <button (click)="updateJobDraft(draftEditForm.value)" type="submit" class="btn "><i class="material-icons">
              save_alt </i> Save
          </button>
          <button (click)="postDraft()" type="submit" class="btn "><i class="material-icons">
              subdirectory_arrow_left </i>Post
          </button>
        </div>
      </form>
    </div>
  </ng-template>


</head>

<body>
  <!-- A.5 -->

    <h3> Job Maintenance</h3>
    <div class="card-body">
    <!-- Search Bar -->
    <label for="sortBy"><strong> Search: </strong></label><br>
    <div class="row " style="height:3em;">
      <div class="col-sm-6">
        <input [(ngModel)]='searchBarInput' type="search" id="searchBar" class="form-control " placeholder="Start Typing..." style="width:100%;">
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn searchButton" (click)="universalSearch()" style=" margin-left: 50px;">
          <i class="material-icons">search</i> Search</button>
      </div>
    </div>
  </div>



<div class="tableArea">
    <ngb-tabset>
      <ngb-tab title="Available Jobs">
        <ng-template ngbTabContent>

          <h3> Available Jobs </h3>

          <button type="button" class="btn btn-inverse" (click)="openAddModal(addJobContent)" id="addJobBtn"> <i class="material-icons">
              note_add
            </i> New Job </button>

          <div class="col-md-12" style="text-align: end">
            <p *ngIf="totalJobs === undefined || totalJobs === 0"> Showing 0 of 0 </p>
            <p *ngIf="!(totalJobs === undefined || totalJobs === 0) && !(activePageNumber == activePaginatorSize)">Showing
              {{pageSize * activePageNumber}} of {{totalJobs}}</p>
            <p *ngIf="activePageNumber == activePaginatorSize  && (totalJobs != undefined || totalJobs != 0)">Showing {{totalJobs}}
              of {{totalJobs}}</p>
          </div>

          <table matSort (matSortChange)="sortData($event)" class="table table-hover table-striped">
            <thead>
              <th mat-sort-header="jobName">Job Title</th>
              <th mat-sort-header="company">Company</th>
              <th mat-sort-header="location">Location</th>
              <th mat-sort-header="jobCategory">Category</th>
              <th mat-sort-header="jobType">Type</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let job of sortedData">
                <td> {{job.jobName}} </td>
                <td> {{job.company}}</td>
                <td> {{job.city}}, {{job.country}} </td>
                <td> {{job.jobCategory}} </td>
                <td>{{job.jobType}}</td>
                <td> <button type="button" class="btn" (click)="openEdit(editJobContent, job)"> <i class="material-icons">
                      edit
                    </i>Edit </button>
                  <button type="button" class="btn" (click)=" setJobInactive(job.jobId)"> <i class="material-icons">
                      subdirectory_arrow_right
                    </i> Un-Post </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <ngb-pagination id="paginator" [collectionSize]="activeCollectionSize" [(page)]="activePageNumber" [maxSize]="activePaginatorSize"
            [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
          </ngb-pagination>
        </ng-template>
      </ngb-tab>

  <ngb-tab title="Past Jobs">
    <ng-template ngbTabContent>

      <h3> Past Jobs </h3>

      
      <button type="button" class="btn btn-inverse" (click)="openAddModal(addJobContent)" id="addJobBtn"> <i class="material-icons">
          note_add
        </i> New Job </button>

      <div class="col-md-12" style="text-align: end">
        <p *ngIf="totalInactiveJobs === undefined || totalInactiveJobs === 0"> Showing 0 of 0 </p>
        <p *ngIf="!(totalInactiveJobs === undefined || totalInactiveJobs === 0) && !(inactivePageNumber == inactivePaginatorSize)">Showing
          {{pageSize * inactivePageNumber}} of {{totalInactiveJobs}}</p>
        <p *ngIf="inactivePageNumber == inactivePaginatorSize && (totalInactiveJobs != undefined || totalInactiveJobs != 0)">Showing
          {{totalInactiveJobs}} of {{totalInactiveJobs}}</p>
      </div>

      <table matSort (matSortChange)="sortData($event)" class="table table-hover table-striped">
        <thead>
          <th mat-sort-header="jobName">Job Title</th>
          <th mat-sort-header="company">Company</th>
          <th mat-sort-header="location">Location</th>
          <th mat-sort-header="jobCategory">Category</th>
          <th mat-sort-header="jobType">Type</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let inactiveJob of sortedInactive">
            <td> {{inactiveJob.jobName}}</td>
            <td> {{inactiveJob.company}}</td>
            <td> {{inactiveJob.city}}, {{inactiveJob.country}} </td>
            <td> {{inactiveJob.jobCategory}} </td>
            <td>{{inactiveJob.jobType}}</td>
            <td>
              <button type="button" class="btn" (click)="openEdit(editJobContent, inactiveJob)"> <i class="material-icons">
                  edit
                </i>Edit
              </button>
              <button type="button" class="btn" (click)=" setJobActive(inactiveJob.jobId)"><i class="material-icons">
                  subdirectory_arrow_left
                </i>Post
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <ngb-pagination id="paginator" [collectionSize]="inactiveCollectionSize" [(page)]="inactivePageNumber" [maxSize]="inactivePaginatorSize"
        [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPageInactive($event)" class="d-flex justify-content-center">
      </ngb-pagination>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Drafts(Jobs)">
    <ng-template ngbTabContent>

      <h3> Drafts </h3>

      
      <button type="button" class="btn btn-inverse" (click)="openAddModal(addJobContent)" id="addJobBtn"> <i class="material-icons">
          note_add
        </i> New Job </button>

      <div class="col-md-12" style="text-align: end">
        <p *ngIf="totalDrafts === undefined || totalDrafts === 0"> Showing 0 of 0 </p>
        <p *ngIf="!(totalDrafts === undefined || totalDrafts === 0) && !(draftPageNumber == draftPaginatorSize)">Showing
          {{pageSize * draftPageNumber}} of {{totalDrafts}}</p>
        <p *ngIf="draftPageNumber == draftPaginatorSize && (totalDrafts != undefined || totalDrafts != 0)">Showing {{totalDrafts}}
          of {{totalDrafts}}</p>
      </div>

      <table matSort (matSortChange)="sortData($event)" class="table table-hover table-striped">
        <thead>
          <th mat-sort-header="jobName">Job Title</th>
          <th mat-sort-header="company">Company</th>
          <th mat-sort-header="location">Location</th>
          <th mat-sort-header="jobCategory">Category</th>
          <th mat-sort-header="jobType">Type</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let draft of sortedDrafts">
            <td> {{draft.jobName}}</td>
            <td> {{draft.company}}</td>
            <td> {{draft.city}}, {{draft.country}} </td>
            <td> {{draft.jobCategory}} </td>
            <td>{{draft.jobType}}</td>
            <td>
              <button type="button" class="btn" (click)="openDraftEdit(contentDraft, draft)"> <i class="material-icons">
                  edit
                </i> Edit
              </button>
              <button type="button" class="btn" (click)="deleteDraft(draft.jobId)"> <i class="material-icons">
                  delete
                </i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <ngb-pagination id="paginator" [collectionSize]="draftsCollectionSize" [(page)]="draftPageNumber" [maxSize]="draftPaginatorSize"
        [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPageDrafts($event)" class="d-flex justify-content-center">
      </ngb-pagination>
    </ng-template>
  </ngb-tab>
  </ngb-tabset>

  <!-- ***************************************************************** -->

   <ng-template #addOptionContent let-c="close" let-d="dismiss">
    <!--Modal that allows to add a new job-->
    <div class="modal-header">
      <h4 class="modal-title" >Add blah</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="addDropdownOptForm" autocomplete="off" (ngSubmit)="c('Save click')">
            <div class="row smallrow">
              <div class="form-group col-sm-6">
                <label for="input"> <strong>Enter new ...</strong></label>
                <input formControlName="input" type="text" class="form-control" id="name">
              </div>
              </div>

            <div class="modal-footer">
  
              <button (click)="createJob(newJobForm.value)" id="save" value="save" type="submit" class="btn "><i class="material-icons">
                  save_alt</i>Save
              </button>

            </div>
          </form>
    </div>
  </ng-template>

</div>

</body>

</html>