<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Keep link for icons/ make sure to add to all htmls with icons-->

<style>
/*Keep here because if style css input is used, all fields loose position */
  input {
     margin: 8px; 
  }

  button {
    margin-bottom: 8px;
  }
</style> 
</head>

<body>

<h1>A.3 Offer Application</h1>

<div class="container" >
  <div class="row">
    <div class="col-sm-12">
        <div class="card descriptionbox" >
          <div class="card-body" >           
         <h3><strong>{{job?.jobName}}</strong></h3>  
            <div>
                <h5><strong> {{job?.company}}</strong></h5>       
             <div style="font-style: italic; text-align: center;">
              {{job?.city}} , {{job?.country}} / {{job?.jobCategory}} /  {{job?.jobType}}
                </div>
                <br>
              <div style=" text-align: justify;text-justify: inter-word;"> {{job?.description}}</div>  
                
            </div>
          </div>
          </div>
        </div>
  </div>
        <div class="row"> 
      <div class="col-sm-12">
        <div class="card" style="border-bottom: white;border-right: white; border-left: white;border-top: white;">
          <div class="card-body">
            <h3 class="card-title" style="padding-bottom: 8px;">Applicant Information</h3>
            
            <form [formGroup]="applicantInfo">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="name" class="form-control" id="name" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="email">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                </div>

                  <div class="form-group">
                      <label for="phone">Phone</label>
                      <input formControlName="phone"type="phone" class="form-control" id="phone" placeholder="Phone Number"value="">
                  </div>
                  <div class="form-group">
                      <label for="address">Address</label>
                      <input formControlName="addressLine" type="address" class="form-control" id="address"  placeholder="Address Line" value="">
                      <input formControlName="addressLine2" type="address" class="form-control" id="address2"  placeholder="Address Line"value="">
                      <input formControlName="city" type="address" class="form-control" id="city"  placeholder="City"value="">
                      <input formControlName="state" type="address" class="form-control" id="state"  placeholder="State/Province"value="">
                      <input formControlName="country" type="address" class="form-control" id="country"  placeholder="Country"value="">
                      <input formControlName="zipCode" type="address" class="form-control" id="zipcode"  placeholder="Zip Code"value="">
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea formControlName="comments" style="resize: none;"class="form-control" rows="5" id="comment" 
                        maxlength="98" placeholder="Enter comments..."></textarea>
                    </div>
                    <div>
                        <button  class="btn btn-sm" type="button">
                            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> <i class="material-icons">
                                arrow_drop_up
                                </i>Upload Resume
                        </button>
                    </div>
                    <div align="center">
                        <button (click)="submitApplication(applicantInfo.value)" class="btn btn-lg" type="button" style="margin: 20px;"> <i class="material-icons">
                            arrow_forward_ios
                            </i>Submit Application</button> 
                    </div>


            </form>



          </div>

        </div>
      </div>

      

      <!-- <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <a href="#" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                  <a href="#" id="register-form-link">Register</a>
                </div>
              </div>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <form [formGroup]="logInForm" id="login-form" action="https://phpoll.com/login/process" method="post" role="form" style="display: block;">
                    <div class="form-group">
                      <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group text-center">
                      <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                      <label for="remember"> Remember Me</label>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="text-center">
                            <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                  <form [formGroup]="regForm" id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">
                    <div class="form-group">
                      <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="">
                    </div>
                    <div class="form-group">
                      <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  
  </div>
  </div>
  
</body>
  </html>