<!--This page opens the aplication for the selected job in A2 when clicking on the apply button-->
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Keep link for icons/ make sure to add to all htmls with icons-->

<style>
/*Keep here because if style css input is used, all fields loose position */
  input {
     margin: 8px; 
  }
    button { 
    margin-bottom: 8px;
  }
</style> 
</head>
  <body>

    <h1>A.3 Offer Application</h1>

<div class="container" >
        <div class="row">
          <div class="col-sm-12">
              <div class="card descriptionbox" > <!--Keeps the description information for the job selected-->
                <div class="card-body" >           
                  <h3><strong>{{job?.jobName}}</strong></h3>  
                    <div>
                        <h5><strong> {{job?.company}}</strong></h5>       
                        <div style="font-style: italic; text-align: center;">
                          {{job?.city}} , {{job?.country}} / {{job?.jobCategory}} /  {{job?.jobType}}
                        </div>
                            <br>
                      <div style=" text-align: justify;text-justify: inter-word;"> {{job?.description}}</div>  
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row"> 
      <div class="col-sm-12">
        <div class="card" style="border-bottom: white;border-right: white; border-left: white;border-top: white;"> <!--Css to remove borders. COundl't do it directly on styles.css-->
          <div class="card-body">
            <h3 class="card-title" style="padding-bottom: 8px;">Applicant Information</h3>
              <form [formGroup]="applicantInfo"> <!--Form for application-->
                 <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="name" class="form-control" id="name" placeholder="Name">
                 </div>

                 <div class="form-group">
                    <label for="email">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
                 </div>

                  <div class="form-group">
                      <label for="phone">Phone</label>
                      <input formControlName="phone"type="phone" class="form-control" id="phone" placeholder="Phone Number"value="">
                  </div>
                  <div class="form-group">
                      <label for="address">Address</label>
                      <input formControlName="addressLine" type="address" class="form-control" id="address"  placeholder="Address Line" value="">
                      <input formControlName="addressLine2" type="address" class="form-control" id="address2"  placeholder="Address Line"value="">
                      <input formControlName="city" type="address" class="form-control" id="city"  placeholder="City"value="">
                      <input formControlName="state" type="address" class="form-control" id="state"  placeholder="State/Province"value="">
                      <input formControlName="country" type="address" class="form-control" id="country"  placeholder="Country"value="">
                      <input formControlName="zipCode" type="address" class="form-control" id="zipcode"  placeholder="Zip Code"value="">
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea formControlName="comments" style="resize: none;"class="form-control" rows="5" id="comment" 
                        maxlength="98" placeholder="Enter comments..."></textarea>
                    </div>
                    <div>
                 </div>
                    <div class="form-group">
                      <label for="uploadResume">Upload Resume (file types: .pdf)</label><br>
                      <input id ="uploadResume" type="file" (change)="onFileChanged($event)" #fileInput accept=".pdf">
                    </div>
                    <div align="center">
                        <button (click)="submitApplication(applicantInfo.value)" class="btn btn-lg" type="button" style="margin: 20px;"> <i class="material-icons">
                            arrow_forward_ios
                            </i>Submit Application</button> 
                          </div>
                    </form>
                </div>
              </div>
            </div>     
        </div>
      </div>  
    </body>
  </html>