<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>

<body>

  <div class="backgroundG" >
 
  </div>
  <div class="container">

    <div >
        <h3> A.2 Search Jobs</h3>
      <h3>Start Searching</h3>
      <div class="card">
        <div class="card-body  ">

          <!-- Grid row -->

          <!-- Grid column -->
          <div class="col-md-12 ">

            <label for="filterBy"><strong> Filter by: </strong></label>
            <div class="row">
              <div class="col-md-4">
                <select (change)="selectDropdownChangeHandler($event)" id="filter">
                  <option selected> All Jobs</option>
                  <option> Company </option>
                  <option> Location/City </option>
                  <option> Location/Country </option>
                  <option> Category </option>
                  <option> Type </option>
                </select>
              </div>
              <div class="col-md-6">
                <input [(ngModel)]='listFilter' type="search" id="searchBar" class="form-control " >
              </div>
              <div class="col-md-2">
                <button fromControl="search" type="button" class=" btn " click="listFilter(listFilter)"> Search </button><br>
              </div>
            </div>
          </div>
          <!-- Grid column -->

          <div>

            <!--Table-->
            <table class="table table-striped" >

              <!--Table head-->
              <thead>
                <tr>
                  <th>Job Title</th>
                  <th>Company</th>
                  <th>Location</th>
                  <th>Category</th>
                  <th>Type</th>
                  <th>Apply</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                <tr *ngFor="let job of filteredJobs">
                  <td>{{job.jobName}}</td>
                  <td>{{job.company}}</td>
                  <td>{{job.city}}, {{job.country}}</td>
                  <td>{{job.jobCategory}}</td>
                  <td>{{job.jobType}}</td>
                  <td> <button type="button" (click)="applyButtonClicked(job.jobId)"> Apply</button> </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->

          </div>



        </div>
      </div>

    </div>
  </div>
</body>

</html>