<!--This pages serves as a profile type of page for the HR employee to view specific aspects of an application.
It shows the applicant's information, a timeline with actions taken in that application, a pending tasks list and 
a comments section-->
<!DOCTYPE html>
<html>
 
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> Add Action</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
           <div class="modal-body">   
        
        <form [formGroup]="newActionForm" autocomplete="off" (ngSubmit)="c('Save click')">

         <div class="row smallrow">

          <div class="form-group col-sm-6">
            <label for="actionType"><strong> Action</strong></label>
            <select formControlName="actionType" id="category" class="form-control" (change)="selectActionChangeHandler($event)">
              <option value="null" disabled="true" [selected]="true">- Select Action -</option>
              <option *ngFor=" let selectedAction of allActions">{{selectedAction}}</option>
            </select>
          </div>
          
          <div class="form-group col-sm-6">
            <label for="actionSatus"><strong> Status</strong></label>
            <select formControlName="actionStatus" id="category" class="form-control" (change)="selectStatusChangeHandler($event)">
              <option value="null" disabled="true" [selected]="true">- Select Status -</option>
              <option *ngFor=" let selectedStatus of allStatuses">{{selectedStatus}}</option>
            </select>
          </div>
         </div>
         <div class="row smallrow">
             <div class="form-group col-sm-6">
                        <label for="date"><strong> Date </strong></label>
                        <div class="input-group">
                          <input id="date" class="form-control"  formControlName="actionDate"placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                          </div>        
                        </div>
            </div>
                    
         <div class="form-group col-sm-6">
                <label for="time"><strong> Select a time:</strong></label>
                <input type="time" class="form-control"  formControlName="time" name="usr_time">
        </div>
        </div>
  
        <div class="row smallrow">
          <div class="form-group col-sm-6">
            <label for="actionDescription"><strong>Comments</strong></label>
            <textarea class="form-control" formControlName="actionComments" name="description" rows="4" cols="10" style="resize: none;"> </textarea>
          </div>
        </div>

        <div class="modal-footer">      

          <button (click)="insertAction(newActionForm.value)" id="save" value="save" type="submit" class="btn "><i class="material-icons">
              save_alt</i>Save</button>
        </div>
      </form>
        </div>
    </ng-template>

    <ng-template #contentEdit let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-edit"> Edit Action</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">   
                
               
            <form [formGroup]="editActionForm" autocomplete="off" (ngSubmit)="c('Save click')">
    
             <div class="row smallrow">
    
    
    
              <div class="form-group col-sm-6">
                <label for="newActionType"><strong> Action</strong></label>
                <select formControlName="newActionType" id="actionType" class="form-control" >
                  <option *ngFor=" let selectedAction of allActions" [ngValue]="selectedAction">{{selectedAction}}</option>
                </select>
              </div>
    
              
              <div class="form-group col-sm-6">
                <label for="newActionSatus"><strong> Status</strong></label>
                <select formControlName="newActionStatus" id="actionStatus" class="form-control">
                  <option *ngFor=" let selectedStatus of allStatuses" [ngValue]="selectedStatus" >{{selectedStatus}}</option>
                </select>
              </div>
    
             </div>
    
             <div class="row smallrow">
                 <div class="form-group col-sm-6">
                            <label for="date"><strong> Date: {{this.currentAction.actionDate  | date: 'MMMM d, y' }}</strong></label>
                            <div class="input-group">
                              <input id="date" class="form-control"  formControlName="newActionDate" placeholder="yyyy-mm-dd" name="dp"  ngbDatepicker  #dp="ngbDatepicker">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                              </div>
            
                            </div>
                  </div>            
             <div class="form-group col-sm-6">
                    <label for="time"><strong> Time: {{this.currentAction.actionDate  | date: 'h:mm a' }} </strong></label>
                    <input type="time" class="form-control"  formControlName="newTime" name="usr_time">
            </div>
            </div>
    
     
             
            <div class="row smallrow">
              <div class="form-group col-sm-6">
                <label for="newActionDescription"><strong>Comments</strong></label>
                <textarea class="form-control" formControlName="newActionComments" name="description" rows="4" cols="10" style="resize: none;"> </textarea>
              </div>
            </div>
    
    
    
            <div class="modal-footer">
          
    
              <button (click)="editAction(editActionForm.value)" id="save" value="save" type="submit" class="btn "><i class="material-icons">
                  save_alt</i>Save</button>
    
            </div>
    
          </form>
    
            </div>
        </ng-template>
</head>
<body>
    <div class="container">
        <!-- <div>
            <h1>C.2/C.3/C.5</h1>
        </div> -->

        <div class="row">
                <div class="col-sm-6">
          
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="users/userMaintenance">List</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                  </nav>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-12">
                        <div class="card descriptionbox">
                                <div class="card-body"> 
                                    <div class="row">
                                    <div class="col-sm-6">           
                                        <div>
                                                <h3> {{applicationInfo.applicantFirstName}} {{applicationInfo.applicantLastName}}</h3>
                                                <p style="text-align: center">{{applicationInfo.applicantPhone}} / {{applicationInfo.applicantEmail}}</p>
                                                <br>
                                        </div>    
                                        <div style="margin-top:10%;margin-left: 20%">
                                        <div> <strong> Application ID: </strong>{{currentAppId}}</div>
                                        <div> <strong> Application Status: </strong>{{applicationInfo.applicationStatus}}</div>
                                        <div> <strong> Application Date: </strong>{{applicationInfo.dateApplied | date: 'MMMM d, y' }}</div>
                                        <br>
                                         </div>
                                         <div style="margin-top:10%;margin-left: 25%">
                                             <h4> <a class="btnWelcomeJobs" routerLink="#">View Resume</a></h4>
                                         </div>
                                    </div>
                                    <div class="col-sm-6">
                                   <h3>{{applicationInfo.jobName}}</h3>
                                   <p style="text-align: center"> {{applicationInfo.jobCategory}} ({{applicationInfo.jobType}})</p>
                                   <p style="text-align: center">{{applicationInfo.companyName}}  ({{applicationInfo.companyCity}}, {{applicationInfo.companyCountry}})</p>
                      
                                    <div>
                                        <!-- <i class="material-icons" style="font-size: 3em;"> perm_identity </i> -->
                                        <div><strong> Job Description: </strong> {{applicationInfo.jobDescription}}</div>
                                    </div>
                                 </div>
                                </div>
                                </div>
                            </div>                         
                  </div>        
            </div>
        <div class="row">
            <div class="col-sm-6">
                    <div class="col-sm-6">
                            <div class="row">         
                            <div style=" margin-left:15%; margin-top:25%">
                              <div class=" bg-white ">
                                <h4>Pending Tasks</h4> 
                                
                                <mat-selection-list #shoes>
                                        <mat-list-option *ngFor="let task of pendingTasks">
                                                <a href="#"class=" btnWelcomeJobs" style="font-size: 15px;"> {{task.task}}  </a>
                                        </mat-list-option >
                                      </mat-selection-list>

                              </div>
                            </div>
                            </div>
                    </div>
                    <div class="row bootstrap snippets">
                            <div class="col-sm-4 col-md-offset-2 col-sm-12" style="margin-top: 25%">
                                <div class="comment-wrapper">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4>Comments</h4>
                                        </div>
                                        <div class="panel-body">
                                            <textarea [(ngModel)]="commentBoxInput" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                            <br>
                                            <button type="button" class="btn pull-right" (click)="insertComment(); loadComments();" >Post</button>
                                            <div class="clearfix"></div>
                                            <hr>
                                            <ul class="media-list" *ngFor="let comment of comments">
                                                <li class="media">
                                                    <a href="#" class="pull-left">
                                                    </a>
                                                    <div class="media-body">
                                                        <span class="text-muted pull-right">
                                                            <small class="text-muted">{{comment.createdDate | date: 'MMMM d, y'}}
                                                                at {{comment.createdDate | date: 'h:mm a' }} </small>
                                                        </span>
                                                        <strong class="text-success"> @{{comment.employeeFirstName}}{{comment.employeeLastName}}</strong>
                                                        <p>
                                                            {{comment.commentData}}
                                                        </p>
                                                    </div>
                                              </ul>        
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>             
                    </div>
            <div class="col-sm-6">
                    <div class="container mt-5 mb-5">
                        <div class="row">
    
                            <div class="col-md-8 offset-md-3">
                                <h4>Latest Actions</h4>
                                <button type="button" class="btn" (click)="openNewAction(content)"> <i class="material-icons">
                                        note_add
                                    </i> New Action </button>
                                <ul class="timeline">
                                    <li *ngFor="let action of actions">
                                        <h5>{{action.actionType}} <button class="btn" style="border-color: transparent !important"(click)="openEditAction(contentEdit, action)" >
                                                <i class="material-icons">edit</i> </button></h5>
                                        <p>@{{action.recruiter}}</p>
                                        <p><strong>{{action.actionDate | date: 'MMMM d, y' }} - {{action.actionDate | date: 'h:mm
                                                a'}}
                                            </strong></p>
                                        <p>{{action.comments}}.</p>
                                    </li>
                                </ul>
    
                                <button *ngIf=" totalActions > newPageSize" (click)="showMoreActions()" type="button" class="btn"> <i
                                        class="material-icons">
                                        expand_more
                                    </i> Show More Actions </button>
    
                                <button *ngIf="(newPageSize > totalActions) && !(pageSize > totalActions)" (click)="showLessActions()" type="button" class="btn">
                                <i class="material-icons">
                                        expand_less
                                    </i> Show Less Actions
                                 </button>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
     </div>
  </body>
</html>