

<ul class="nav navbar justify-content-center" style="height: 5%;">
  <li class="nav-item">
   <a href="welcome"> <img class="img nav-link" src="../assets/INVIDlogo.png" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="welcome">Welcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="jobs">Offer List A.2 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="offer-maintenance">Offer Maintenance A.5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="hr-offer-detail">Hr-Offer Detail B.2</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="applicant-maintenance"> ApplicantManagement C.1 </a>
    </li>
</ul> 




    <router-outlet></router-outlet><!-- add to make links work leave if I delete modal code--> 
  
    <footer>
      </footer>

