<div class="backgroundG ">

  </div>

<ul class="nav navbar justify-content-center" style="height: 5%;">
  <li class="nav-item">
   <a href="welcome"> <img class="img nav-link" src="../assets/INVIDlogo.png" ></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="welcome">Welcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="jobs">Offer List A.2 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="offer-maintenance">Offer Maintenance A.5</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="hr-offer-detail">Hr-Offer Detail B.2</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="applicant-maintenance"> ApplicantManagement C.1 </a>
    </li>
</ul> 




    <router-outlet></router-outlet><!-- add to make links work leave if I delete modal code--> 
  
    <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3">
              <h4>Company</h4>
              <a>About</a><br>
              <a>Careers</a><br>
              <a>Questions</a><br>
              <a>Help</a><br>
            </div>

            <div class="col-sm-3">
                <h4>Products</h4>
                <a>Development</a><br>
                <a>ATS</a>
              </div>

              <div class="col-sm-3">
                  <h4>Contact</h4>
                  <p>Phone</p>
                  <p>Email</p>
                  <p>Address</p>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h5>© Invid, LLC 2018</h5>
              </div>
            
          </div>
        </div>
      </footer>

