<link rel="stylesheet" href="" />

<div class="backgroundG"></div>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #25326a;">
  <a href="welcome"> <img class="img nav-link menuUp" src="../assets/INVID_Logo_white.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link nav-item" href="jobs" style="color:white">Offer List A.2 </a>
      <a class="nav-link nav-item" href="offer-maintenance" style="color:white">Offer Maintenance A.5</a>
      <a class="nav-link nav-item" href="hr-offer-detail" style="color:white">Hr-Offer Detail B.2</a>
      <a class="nav-link nav-item" href="applicant-maintenance" style="color:white"> ApplicantManagement C.1 </a>
    </div>
  </div>
</nav>

    <!-- <div class="backgroundG"></div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #25326a;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar justity-content-center" >
      <li class="nav-item">
       <a href="welcome"> <img class="img nav-link menuUp" src="../assets/INVID_Logo_white.png" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jobs" style="color:white">Offer List A.2 </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="offer-maintenance" style="color:white">Offer Maintenance A.5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="hr-offer-detail" style="color:white">Hr-Offer Detail B.2</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="applicant-maintenance"  style="color:white"> ApplicantManagement C.1 </a>
        </li>
    </ul> 
    </div>
  </nav> -->






<router-outlet></router-outlet><!-- add to make links work leave if I delete modal code-->

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <h4>Company</h4>
        <a>About</a><br>
        <a>Careers</a><br>
        <a>Questions</a><br>
        <a>Help</a><br>
      </div>

      <div class="col-sm-3">
        <h4>Products</h4>
        <a>Development</a><br>
        <a>ATS</a>
      </div>

      <div class="col-sm-3">
        <h4>Contact</h4>
        <p>Phone</p>
        <p>Email</p>
        <p>Address</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h5>© Invid, LLC 2018</h5>
      </div>

    </div>
  </div>
</footer>