<!--This page opens the aplication for the selected job in A2 when clicking on the apply button-->
<!DOCTYPE html>
<html>

<body>
  <!-- A.3 -->
  <!-- <h1> Offer Application</h1> -->

  <div class="container" style="padding-top:2rem;">
    <div class="card-body" *ngIf="jobLoaded | async">
      <h3 style="color: #df136f"><strong>{{job.jobName}}</strong></h3>
      <div>
        <h5><strong> {{job.company}}</strong></h5>
        <p style="font-style: italic; text-align: center;">
          {{job.city}} , {{job.country}} / {{job.jobCategory}} / {{job.jobType}}</p>
        <br>
        <p><strong>Summary</strong></p>
        <p>{{job.description}}</p>
        <br>
        <p><strong>Skills</strong></p>
        <ul>
          <li *ngFor="let skill of skills">{{skill.Skill}}</li>
        </ul>

      </div>

    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card" style="border-bottom: white;border-right: white; border-left: white;border-top: white;">
          <div class="card-body">

            <h3 style="padding-bottom: 8px;color: #df136f;" *ngIf="hideApplicantInfoForm"><strong>Apply</strong></h3>
            <br>
            <div align="center">
              <button id="profileInfoBtn" class="btn" style="margin-left: 2em;margin-right: 2em" (click)="showForm($event)">
                Use profile information</button>
              <button id="newInfoBtn" class="btn" style="margin-left: 2em;margin-right: 2em" (click)="showForm($event)">
                Enter new information</button>
            </div>

            <form [formGroup]="applicantInfoForm" *ngIf="!hideApplicantInfoForm">
              <h3 style="padding-bottom: 8px;color: #df136f;"><strong>Applicant Information</strong></h3>
              <!--Form for application-->
              <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="name" class="form-control" id="name" placeholder="Name">
              </div>

              <div class="form-group">
                <label for="email">Email address</label>

                <em class="help-block" *ngIf="applicantInfoForm.controls.email?.invalid &&
                (applicantInfoForm.controls.email?.touched)" style="color: red"> *Please enter a valid email.</em>
                  <input class="col-md-6" formControlName="email" type="email" class="form-control" id="email" placeholder="Email" maxlength="256">
              </div>

              <div class="form-group">
                <label for="phone">Phone</label>
                <em class="help-block" *ngIf="applicantInfoForm.controls.phone?.invalid &&
                (applicantInfoForm.controls.phone?.touched)" style="color: red"> *Please enter a valid phone
                  number.</em>
                <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Phone Number" value="" maxlength="30">

              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <em class="help-block" *ngIf="validAddress(applicantInfoForm)" style="color: red"> *Please enter a valid
                  address.</em>
                <input formControlName="addressLine" type="address" class="form-control" id="address" placeholder="Address Line" value=""
                  maxlength="50">
                <input formControlName="addressLine2" type="address" class="form-control" id="address2" placeholder="Address Line" value=""
                  maxlength="50">
                <input formControlName="city" type="address" class="form-control" id="city" placeholder="City" value="" maxlength="30">
                <input formControlName="state" type="address" class="form-control" id="state" placeholder="State/Province" value="" maxlength="30">
                <input formControlName="country" type="address" class="form-control" id="country" placeholder="Country" value="" maxlength="30">
                <input formControlName="zipCode" type="address" class="form-control" id="zipcode" placeholder="Zip Code" value="" maxlength="18">
              </div>
              <div class="form-group">
                <label for="comments">Comments</label>
                <textarea formControlName="comments" style="resize: none;" class="form-control" rows="5" id="comment" maxlength="499" placeholder="Enter comments..."
                  value=""></textarea>
              </div>
              <div>
              </div>
              <div class="form-group">
                <label for="uploadResume">Upload Resume (file types: .pdf)</label><br>
                <input id="uploadResume" type="file" (change)="onFileChanged($event)" #fileInput accept=".pdf">

                <!-- 
                        <button class="btn"> <i class="material-icons" style="vertical-align: middle;padding-left:1.8rem">cloud_upload</i>  Upload Resume (.pdf)
                          <input id ="uploadResume" type="file" (change)="onFileChanged($event)" #fileInput accept=".pdf"
                          style= "background: transparent;border: none !important;size:60;">
                        </button> -->

                <div align="center">
                  <button (click)="submitApplication(applicantInfoForm.value)" class="submitBtn btn" type="button" [disabled]="!applicantInfoForm.valid">
                    SUBMIT <i class="material-icons" style="vertical-align: middle;">
                      arrow_forward_ios
                    </i></button>
                </div>


              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>