<h2> Create Applicant</h2>

<!-- <mat-card style="margin: 50px; padding-bottom: 50px;">

  <div align="center" style="padding: 30px;">
    <div>
      <h1 class="text-center titleFont">Employee Information</h1>
    </div>


    <form [formGroup]="infoForm" class="example-form" (ngSubmit)="createEmployee(infoForm.value)"
    autocomplete="off" novalidate>

      <mat-form-field class="example-full-width form-group" >
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field class="example-full-width form-group" >
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field class="example-full-width form-group">
        <input matInput placeholder="Hourly Pay" formControlName="hourlySalary">
      </mat-form-field>

      <button mat-flat-button type="submit" color="primary"> Submit </button>
      <button mat-stroked-button color="#cccccc" type="button" (click)="cancel()"> Cancel </button>


    </form>

  </div>

</mat-card> -->