<!-- <form [formGroupName]="testForm">
        <label for="testmodal">Name:</label>
        <input  formControlName="name" id="testmodal">
</form>
  -->

  <edit-modal></edit-modal>
 
 <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button *ngIf="!addTrue" class="button" type="button" (click)="addItem()">+</button>
        <button *ngIf="addTrue" class="button" type="button" (click)="cancelAddItem()">x</button>
      </div>
      <select *ngIf="!addTrue" class="custom-select" id="inputGroupSelect03">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <input *ngIf="addTrue">
      <button *ngIf="addTrue" class="button" type="button" (click)="cancelAddItem()">Save</button>
    </div> -->

<!-- 

    <ngb-tabset>
        <ngb-tab title="Available Jobs">
            <ng-template ngbTabContent>

                <h3>Available Jobs</h3>

                <div class="col-md-12" style="text-align: end">
                    <p *ngIf="totalJobs === undefined || totalJobs === 0"> Showing 0 of 0 </p>
                    <p *ngIf="!(totalJobs === undefined || totalJobs === 0) && !(activePageNumber == activePaginatorSize)">Showing
                        {{pageSize * activePageNumber}} of {{totalJobs}}</p>
                    <p *ngIf="activePageNumber == activePaginatorSize  && (totalJobs != undefined || totalJobs != 0)">Showing
                        {{totalJobs}} of {{totalJobs}}</p>
                </div>

                <maintenance-tab></maintenance-tab>

                <ngb-pagination id="paginator" [collectionSize]="activeCollectionSize" [(page)]="activePageNumber" [maxSize]="activePaginatorSize"
                [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
              </ngb-pagination>

              </ng-template>
              </ngb-tab>
              <ngb-tab title="Inactive Jobs">
                  <ng-template ngbTabContent>
      
                      <h3> Inactive Jobs </h3>
      
                      <div class="col-md-12" style="text-align: end">
                          <p *ngIf="totalJobs === undefined || totalJobs === 0"> Showing 0 of 0 </p>
                          <p *ngIf="!(totalJobs === undefined || totalJobs === 0) && !(activePageNumber == activePaginatorSize)">Showing
                              {{pageSize * activePageNumber}} of {{totalJobs}}</p>
                          <p *ngIf="activePageNumber == activePaginatorSize  && (totalJobs != undefined || totalJobs != 0)">Showing
                              {{totalJobs}} of {{totalJobs}}</p>
                      </div>
      
                      <maintenance-tab></maintenance-tab>
      
                      <ngb-pagination id="paginator" [collectionSize]="activeCollectionSize" [(page)]="activePageNumber" [maxSize]="activePaginatorSize"
                      [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" class="d-flex justify-content-center">
                    </ngb-pagination>
      
                    </ng-template>
                    </ngb-tab>
              </ngb-tabset>



 -->
