<div class="backgroundG" >
<h1> C.1 </h1>
<h2> Applicant Maintenance Screen </h2>
<p>Lorem Ipsum kdhjkf ekjrkj jh skjakjhkjh kjekfjahwlkehfla weipfaw f woeijlfai ,erg aeruge </p>
</div>

<div class="container tabsmargin ">
  
  <ngb-tabset>
    <ngb-tab title="Applicants">
      <ng-template ngbTabContent>
        <h3> Applicants </h3>

   <div> 
  
          <!--Table-->
     <table class="table table-striped">
  
           <!--Table head-->
           <thead>
             <tr>
               <th> Name </th>
               <th> Email</th>
               <th> Phone </th>
               <th> Location </th>
               <th> Edit </th>
             </tr>
           </thead>
           <!--Table head-->
     
           <!--Table body-->
           <tbody>
             <tr *ngFor="let applicant of allApplicants">
                   <td> {{applicant.fullName}} </td>
                   <td> {{applicant.email }} </td>
                   <td> {{applicant.phone}} </td>
                   <td> {{applicant.location}} </td>
                   <td> <button type="button" (click)="makeApplicantInactive(applicant.id)"> Deactive </button> </td>
             </tr>
           </tbody>
           <!--Table body-->
         </table>
         <!--Table-->
  
   </div>
  
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle> Past Applicants</ng-template>
      <ng-template ngbTabContent> 
        <h3> Past Applicants </h3>
  
        <div>
          
          <!--Table-->
     <table class="table table-striped">
  
      <!--Table head-->
      <thead>
        <tr>
          <th> Name </th>
          <th> Email</th>
          <th> Phone </th>
          <th> Location </th>
          <th> Edit </th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr *ngFor="let applicant of allPastApplicants">
              <td> {{applicant.fullName}} </td>
              <td> {{applicant.email }} </td>
              <td> {{applicant.phone}} </td>
            
              <td> {{applicant.location}} </td>
              <td> <button type="button"(click)="makeApplicantActive(applicant.id)"> Activate </button> </td>
        </tr>
      </tbody>
      <!--Table body-->
    </table>
    <!--Table-->
  
   </div>
  
      </ng-template>
    </ngb-tab>



    <!-- <ngb-tab title="Add Applicant">
      <ng-template ngbTabContent>
        <p>
            <h3> New Applicant  </h3>

            <div> 
              <form [formGroup]="addApplicantForm"  autocomplete="off">
                   
                <div class="form-group col-md-6">
                  <label for="name"> <strong>Name</strong></label>
                  <input formControlName="applicantName" type="text" class="form-control" id="name" >

                </div>
                <input type="submit" value="Submit">

            </form>
 

            </div>

            
      </ng-template>
    </ngb-tab> -->
  </ngb-tabset>

</div>