<h1>C.4</h1>
<div class="container" > 
  <div class="row">
    <div class="col-sm-8">
    <div style="margin-top: 30px">

      <div class="shadow p-3 mb-5 bg-white rounded" >
        <h3>Applicants</h3>
        <ul class="list-group list-group-flush">
            <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
          <li class="list-group-item">John Doe  <a href="hr-applicant-profile">&#9998;</a>
              
            <br>Latest Action: Phone Call on July 10th, 2018
          </li>
          <li class="list-group-item">John Doe  <a href="hr-applicant-profile">&#9998;</a>
              
              <br>Latest Action: Email on August 1st, 2018
          </li>
          <li class="list-group-item">John Doe  <a href="hr-applicant-profile">&#9998;</a>
              
            <br>Latest Action: Submitted on August 17th, 2018
          </li>
          <li class="list-group-item">John Doe  <a href="hr-applicant-profile">&#9998;</a>
              
            <br>Latest Action: Phone Interview on July 22nd, 2018
          </li>
          <li class="list-group-item">John Doe  <a href="hr-applicant-profile">&#9998;</a>
              
            <br>Latest Action: Interview on August 11th, 2018
          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="col-sm-4">
      <div style="margin-top: 30px">

          <div class="shadow p-3 mb-5 bg-white rounded" >
              <h3>Pending Tasks</h3>
              <form [formGroup]="pendingTasks">
                  <input type="checkbox" name="vehicle" value="Bike"> Call Pooh Bear<br>
                  <input type="checkbox" name="vehicle" value="Car"> Interview Christopher Robin
            </form>
          </div>
      </div>
    </div>
  </div>
</div>