<!DOCTYPE html>
<html lang="en">
<head>
 
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body >
  <!-- First Container -->
<div class="container-fluid backgroundWelcome " style="padding-top:100px;">

         <div class="row">
               <div class="col-12">
                     <h1 class="margin" style="text-align: center" >A.1 Welcome to Invid Careers</h1>
                     <h3><a routerLink="/jobs"  style="color:white">Apply to Jobs</a></h3>
               </div>
         </div>
    </div>     
         <!-- ***************************************************************************************************** -->
     
  <div class="container fluid">    
    <div class="row">
      <div class="col" >
      <div class=" text-center" >          
          
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
    <div class="text-center">    
        <h3 class="margin" > Latest Jobs </h3><br>
      </div>
    </div>
  </div>
        <div class="row">
           <!-- ---------------------------------->
          <div class="col-sm-4">
            <h5>Job 1</h5>
            <p class="jobsp" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor augue ut finibus maximus. 
                Pellentesque ac diam quis tortor malesuada lobortis. Mauris venenatis congue arcu. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Quisque vehicula in ex eu lobortis. Curabitur euismod diam a sem eleifend,
                sit amet consectetur sapien auctor.Phasellus vel elit vitae mi mattis porta. Curabitur sodales mauris at lacus tincidunt facilisis.
            </p>
          
          </div>
           <!-- ---------------------------------->
          <div class="col-sm-4"> 
            <h5> Job 2</h5>
            <p class="jobsp" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor augue ut finibus maximus. 
                Pellentesque ac diam quis tortor malesuada lobortis. Mauris venenatis congue arcu. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Quisque vehicula in ex eu lobortis. Curabitur euismod diam a sem eleifend,
                sit amet consectetur sapien auctor.Phasellus vel elit vitae mi mattis porta. Curabitur sodales mauris at lacus tincidunt facilisis.
            </p>
          </div>
           <!-- ---------------------------------->
          <div class="col-sm-4"> 
            <h5>Job 3</h5>            
            <p class="jobsp" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor augue ut finibus maximus. 
                Pellentesque ac diam quis tortor malesuada lobortis. Mauris venenatis congue arcu. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit. Quisque vehicula in ex eu lobortis. Curabitur euismod diam a sem eleifend,
                sit amet consectetur sapien auctor.Phasellus vel elit vitae mi mattis porta. Curabitur sodales mauris at lacus tincidunt facilisis.
            </p>
          </div>
          <!-- ---------------------------------->
        </div>
    
   
</div>
</body>
</html>
