
<div class="backgroundG " >
    
 </div>   
<div class="container" >

  <div style="margin-top: 30px">
      <h3>B.1 Manage Submissions</h3>
    <div class="shadow p-3 mb-5 bg-white rounded" >
     
        <table class="table ">
            <thead >
                <th scope="col">Job ID</th>
                <th scope="col">Job Title</th>
                <th scope="col"># of Applicants</th>
                <th scope="col">Status</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs">
                <th scope="row">{{job.jobId}}</th>
                <td> {{job.jobName}}</td>
                <td>{{countApplication}}</td>
                <td>{{job.jobStatus}}</td>
                <td>{{job.jobCategory}}</td>
                <td>{{job.jobType}}</td>
                <td><button class="btn" (click)="goToOfferDetail(job.jobId)">Details</button></td>
              </tr>
            
            </tbody>
          </table>
      </div>
  </div>
</div>