
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Keep link for icons/ make sure to add to all htmls with icons-->

</head>
<div class="backgroundG " >
    
 </div>   
<div class="container" >

  <div style="margin-top: 30px">
      <h3>B.1 Manage Submissions</h3>
    <div  >
     
        <table class="table table-striped">
            <thead >
                <th scope="col">Job ID</th>
                <th scope="col">Job Title</th>
                <th scope="col"># of Applicants</th>
                <th scope="col">Status</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs">
                <th scope="row">{{job.jobId}}</th>
                <td> {{job.jobName}}</td>
                <td>{{countApplication}}</td>
                <td>{{job.jobStatus}}</td>
                <td>{{job.jobCategory}}</td>
                <td>{{job.jobType}}</td>
                <td><button class="btn" (click)="goToOfferDetail(job.jobId)"><i class="material-icons">
                    notes
                    </i></button></td>
              </tr>
            
            </tbody>
          </table>
      </div>
  </div>
</div>