<div class="modal" id="login-modal">

  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">&times;</span>
      <i class="material-icons" style="font-size:1000%">account_circle</i>

    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input class="form-control" type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>

      <div style="text-align: center">
        <button class="loginBtn btn" type="submit">LOG IN</button>

      </div>

      <div style="text-align: center">

          <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('loginModal')" class="btn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>


