/*Most styles in project are in this file. Few missing styles are in the
  specific html's <style> or as inline styling in necessary cases*/

/*Allow the use of google fonts*/
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poppins');


body { /*Estilo general para body tags*/
    font-family: Quicksand;
    font: 15px ;
    line-height: 1.8;
    color:black;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    
}
p {font-size: 16px;  /*Estilo general para paragraphs*/
    font-family: Quicksand;
    text-align: justify;
    text-justify: inter-word;}

.margin {margin-bottom: 45px;} 

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
#navtext{ /* Controls text color of navbar*/
    color:white;
}
#navtext:hover{ /*Controls text color when hovered*/
    color:#df136f;
}

.navbar { /*Controls navbar */
    
    background-color:#25326a;   
}

.nav-link{ /*Controls all links styles*/
   
    color: #25326a;
    font-family: Poppins;
    font-size:100%;    
}
.nav-link:hover { /*gives hover effect to links on the navbar*/
    color: #df136f;
    text-decoration: none;
}

.breadcrumb{  /*Controls breadcrumbs (used in B1 and B2 ) */
    background-color:white;
    width: 25%;
}
.breadcrumb-item{ /*Controls breadcrumbs  */
    color: #df136f;
    text-decoration: none;
}


.descriptionbox{ /*Description boxes for Jobs and applicants information b2 C2 and A3*/
    width: 69em;    
}

img{ /* Controls logo image on navbar*/
    width: 8em;    
    position: left;

}

ngb-pagination /deep/ .page-link { /*Controls color for navigation*/
    color: #25326a !important;
    background-color: white !important;
}

.tasks{ /* controls location of tasks item */
   float:right;
}

/*  Find way to change color on link text and current page on Firefox
ngb-pagination /deep/ .page-item.disabled {
    color: #25326a;
    background-color: #25326a ;
} */

.btnWelcomeJobs{ /*  Controls the job title buttons that let user access application for specific job*/
    
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    color: #25326a;
    font-family: Poppins;
  
    border: none;
   
}
.btnWelcomeJobs:hover{ /*Gives hover effect to job title buttons  */
    color: #df136f;
}
.btnWelcomeApply{ /*Controls the style of apply link under welcome */
    text-decoration: none;
    color:white;
    font-family: Poppins;
   
}
.applyBorder{ /* Adds oval border to apply link*/
    
    border: 1px solid white ;
    padding: 20px;
    border-radius: 55px;
}

.btnWelcomeApply:hover{ /*Gives hover style to apply link*/
    color:#df136f;
    text-decoration: none;
    
}

.btn { /* Controls styles of overall buttons*/

  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #25326a !important;
  border-color: #25326a;
  color: #25326a;
  text-align: center;
  font-size: 14px;
  margin: 5px;

}

.btn:hover { /* Hover effect of overall buttons*/
  border-radius: 4px;
  background-color: #25326a;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  margin: 5px;
}

input{ /* inputs style to make them look like the rest of the buttons*/
    margin-bottom: 5em;
    color: #25326a;
    background-color: white;
}

table{ /*General styling for tables*/
    font-family: Quicksand;
    color: black;
}

th { /*General styling for table heads*/
    text-align: center;

}

  tr { /*General styling for table rows*/
    text-align: left;
  }
  h3{
    font-family: Quicksand;
    color: black;
    text-align: center;
    padding-top: 1em;
    
}
h5{
    font-family: Quicksand;
    color: black;
    text-align: center;
    
}
    
 .smallrow{ /*used in C1 A5 to control the position of the inputs in the add new applicant modal*/
    height: 5em;
}
.mdrow{ /*used in C1 A5 to control the position of the inputs in the add new applicant modal*/
    height: 7em; 
}
.descp {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Quicksand;
    padding-bottom: 50px;
}
.jobsp{
    font-size: 16px;
    color: black;
    text-align: justify;
    padding-left: 30px;
    padding-right: 0px;
    font-family: Quicksand;
}

.backgroundG{ /*Controls small pink border on top of navbar*/
     text-align: center;
     position:auto;
      height: 10px;
      background-color:#df136f; 
      font-weight: 100;
}

.backgroundWelcome{ /* Controls large blue banner on welcome page*/
    background-image: linear-gradient(-90deg,#25326a,	#4577bb);
    text-align: center;
     position:auto;
      height: 30em;
      color: white;
      font-family: Quicksand;
}

.tabsmargin{ /*Controls the location of the tabs on A5 and C1*/
    margin-top: 10em
}

footer{ /*General footer style*/
   margin-top: 20%;
   position: relative;
   bottom: 0;
    color:white;
    width: 100%;
    background-color: #25326a;
}
.bg-1 {  /*Not tbeing used, keeping the colors*/
    background-image: linear-gradient(90deg,#25326a,#4577bb);
    padding-bottom: 100px;
    color: #ffffff;
   
}
.bg-2 { /*Not tbeing used, keeping the colors*/
    background-image: linear-gradient( 	#F62459, #F47983);
    color: #ffffff;
    
}

/*Timeline design*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #F62459;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* Comments section styles*/

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
     