@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: Quicksand;
    font: 15px ;
    line-height: 1.8;
    color:black;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
    /* font-family:'PTSansRegular', Arial, Helvetica, sans-serif; */
}
p {font-size: 16px;}

.margin {margin-bottom: 45px;}

#navtext{
    color:white;
}
#navtext:hover{
    color:#df136f;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.navbar {

    /*Controla la barra de navegacion como tal */
    /* background-color: #13316e; */
   background-color:#25326a;
   /* height: 20%; */
   
}

.nav-link{
    /*Controla las palabras (links) en toda la aplicacion  */
    
    color: #25326a;
    font-family: Poppins;
    font-size:100%;
    
}
.breadcrumb{
    background-color:white;
    width: 25%;
}
.breadcrumb-item{
    color: #df136f;
}
.nav-link:hover {
    color: #df136f;
}



/* select{
    /*something needs to go here 
}*/
.descriptionbox{
    width: 70%;
    margin-left:30%;
    
}

img{
    width: 8em;    
    position: left;

}

ngb-pagination /deep/ .page-link {
    color: #25326a !important;
    background-color: white !important;
}


/*  Find way to change color on link text and current page
ngb-pagination /deep/ .page-item.disabled {
    color: #25326a;
    background-color: #25326a ;
} */


.btn {

  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #25326a !important;
  border-color: #25326a;
  color: #25326a;
  text-align: center;
  font-size: 14px;
  margin: 5px;

}

.btn:hover {
  border-radius: 4px;
  background-color: #25326a;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  margin: 5px;
}

input{
    margin-bottom: 5em;
    color: #25326a;
    background-color: white;
}

table{
    font-family: Quicksand;
    color: black;
}

th {
    text-align: center;

}

  tr {
    text-align: left;
  }
    
.smallrow{
    height: 5em;
}
.mdrow{
    height: 7em;
}
.descp {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Quicksand;
    padding-bottom: 50px;
}
.jobsp{
    font-size: 16px;
    color: black;
    text-align: justify;
    padding-left: 30px;
    padding-right: 0px;
    font-family: Quicksand;
}
h3{
    font-family: Quicksand;
    color: black;
    text-align: center;
    padding-top: 1em;
    
}
h5{
    font-family: Quicksand;
    color: black;
    text-align: center;
    
}


.backgroundG{
    /* background-image: linear-gradient(-90deg,#25326a,#4577bb); */
    text-align: center;
     position:auto;
      height: 10px;
      background-color:#df136f; 
      font-weight: 100;
}

.backgroundWelcome{
    background-image: linear-gradient(-90deg,#25326a,	#4577bb);
    text-align: center;
     position:auto;
      height: 30em;
      color: white;
     
}

.tabsmargin{
    margin-top: 10em
}

footer{
   margin-top: 20%;
   position: relative;
   bottom: 0;
    color:white;
    width: 100%;
    background-color: #25326a;
}
.bg-1 { 
    background-image: linear-gradient(90deg,#25326a,#4577bb);
    padding-bottom: 100px;
    color: #ffffff;
   
}
.bg-2 { 
    background-image: linear-gradient( 	#F62459, #F47983);
    color: #ffffff;
    
}


/* .generaltext{
    font-family: Quicksand;
    color: black;
} */

 /*this is a test*/ 
    
