@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
    font-family: Quicksand;
    font: 15px ;
    line-height: 1.8;
    color:black;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:white;
}
p {font-size: 16px;}

.margin {margin-bottom: 45px;}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}



.navbar {
    /*Controla la barra de navegacion como tal */
   background-color:#df136f;
   padding-bottom: 7em;
  
}
.nav-link{
    /*Controla las palabras (links) en toda la aplicacion  */
    color:#25326a;
    font-family: Quicksand;
    font-size: 100%;

    
}

img{
    width: 8em;    
    position: left;

}

button{
    
    color: white;
    background-color: #25326a;

}
input{
    margin-bottom: 5em;
    color: white;
    background-color: #25326a;
}

table{
    font-family: Quicksand;
    color: black;

}
th {
    text-align: center;
  }

  tr {
    text-align: left;
  }
    
.smallrow{
    height: 5em;
}
.descp {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    font-family: Quicksand;
    padding-bottom: 50px;
}
.jobsp{
    font-size: 16px;
    color: black;
    text-align: justify;
    padding-left: 30px;
    padding-right: 0px;
    font-family: Quicksand;
}
h3{
    font-family: Quicksand;
    color: black;
    text-align: center;
    padding-top: 1em;
    
}
h5{
    font-family: Quicksand;
    color: black;
    text-align: center;
    
}


.backgroundG{
    /* background-image: linear-gradient(-90deg,#25326a,#4577bb); */
    text-align: center;
     position:auto;
      height: 1em;
      background-color:#4577bb; 
      font-weight: 100;

     
}
.backgroundWelcome{
    background-image: linear-gradient(-90deg,#25326a,	#4577bb);
    text-align: center;
     position:auto;
      height: 30em;
      color: white;
     
}

.tabsmargin{
    margin-top: 10em
}
.bg-1 { 
    background-image: linear-gradient(90deg,#25326a,#4577bb);
    padding-bottom: 100px;
    color: #ffffff;
   
}
.bg-2 { 
    background-image: linear-gradient( 	#F62459, #F47983);
    color: #ffffff;
    
}

.generaltext{
    font-family: Quicksand;
    color: black;
}

      .sidebar{
        background-color:#25326a;
        height:100%;
        position: absolute;
      }
    
